body{
      background-image: url("https://img.freepik.com/vector-gratis/fondo-monocromatico-blanco-estilo-papel_52683-66443.jpg?semt=ais_hybrid&w=740");
    position: absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 2000px;
}

.tatu{
    font-size:60px;
    padding-left: 700px;
}
.tauanatexto{
    font-size: 30px;
    color: #5a8154;
    padding-left: 100px;
    padding-right: 200px;
}
.tauanatexto:hover{
    color: black;

}
.tauanatexto::after{
    content: "Imagen de La Tatuana";
    color: blue;
}

.tatuanaimg{
    padding-left: 600px;
    height: 800px;
    width: 500px;
}